/* You can add global styles to this file, and also import other style files */
@use "./app/scss/" as *;

html,
body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}


.text-green {
    color: $text-green;
}